certifi==2019.11.28
chardet==3.0.4
cos-python-sdk-v5==1.7.7
dicttoxml==1.7.4
Django==1.11.7
django-mdeditor==0.1.17
django-redis==4.11.0
idna==2.9
Pillow==9.0.1
PyMySQL==0.9.3
pystache==0.5.4
pytz==2019.3
qcloudsms-py==0.1.4
qiniu==7.2.8
redis==3.4.1
requests==2.23.0
six==1.14.0
static==1.1.1
upload==0.1.1
urllib3==1.25.8
